* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    --cor-principal: #ffffff;
    --cor-segundaria: #c0c0c0;
    --cor-terceira: #ec2f46;
    --cor-botao: #167bf7;
    --cor-background: #00030c;
    --cor-background-houver: chocolate;
    --font-principal: 'Inter', sans-serif;
}

body {
    background-color: var(--cor-background);
    color: var(--cor-principal);
    font-family: var(--font-principal);
    font-size: 16px;
    font-weight: 400;
}

.principal {
    background-image: url("/src/img/Background.png");
    background-repeat: no-repeat;
    background-size: contain;
    align-items: center;
    text-align: center;
}

.container {
    height: 100vh;
    display: grid;
    grid-template-columns: 50% 50%;
}

.container__btn {
    background-color: var(--cor-botao);
    color: var(--cor-principal);
    border-radius: 8px;
    padding: 1em;
    text-decoration: none;
    margin-bottom: 1em;

}

.container__btn:hover {
    background-color: var(--cor-terceira);
}

.bnt_segundo {
    background-color: transparent;
    border: 2px solid var(--cor-principal);
}

.btn__modificador {
    width: 100%;
}

.container__aviso {
    font-size: 12px;
    color: var(--cor-segundaria);
}

.container__titulo {
    font-size: 32px;
    font-weight: 700;
    margin-block-start: 0;
    margin-block-end: 0;
}

.container__img {
    margin: 1em 0 2em 0;
    width: 50%;

}

.container__caixa {
    display: flex;
    flex-direction: column;
    margin: 0 6em;
    align-items: center;
}

.secundario__img {
    width: 80%;
}

.secundario {
    align-items: center;
    margin: 0 10em;
}

.descricao__titulo {
    font-weight: 700;
    font-size: 48px;
    color: var(--cor-principal);
    margin-bottom: 0.3em;
}

.container__descricao p {
    color: var(--cor-segundaria);
    margin-bottom: 1.5em;
    width: 80%;
    font-size: 16px;
}

.dispositivos_favoritos {
    display: flex;
    justify-content: center;
    list-style-type: none;
    margin: 5em 0;
}

.container__dispositivos, footer {
    text-align: center;
    align-items: center;
}

footer img, ul, .footer_info {
    margin: 2em 0;
}

.footer_info {
    font-size: 14px;
    padding: 0 14em;

}

footer ul {
    display: flex;
    justify-content: center;
    list-style-type: none;
    gap: 2%;
}

.menu__footer {
    font-size: 16px;
}

.menu__footer a {
    text-decoration: none;
    color: var(--cor-principal);
}

.menu__footer a:hover {
    color: var(--cor-terceira);
}